<form class="main-box">
  <div class="row1-box">
    <mat-form-field class="nrcrt-input" appearance="outline">
      <mat-label class="nrcrt-label">Nr. crt.:</mat-label>
      <input matInput placeholder="8">
    </mat-form-field>

    <mat-form-field class="cursbnr-input" appearance="outline">
      <mat-label class="cursbnr-label">Curs bnr:</mat-label>
      <input matInput placeholder="4.94">
    </mat-form-field>
  </div>
  <div class="row2-box">
    <mat-form-field class="upload-path-input" appearance="outline">
      <mat-label class="upload-path-label">Upload path:</mat-label>
      <input matInput placeholder="C:/somepath">
    </mat-form-field>
  </div>

  <div class="row3-box">
    <label id="example-radio-group-label">Export type:</label>
    <mat-radio-group class="radio-button-box" aria-label="Select an option">
      <mat-radio-button class="export-choice-label" checked=true value="1">Export excel only</mat-radio-button>
      <mat-radio-button class="export-choice-2-label" value="2">Export excel + pdf</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="row4-box">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                   (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
    </ngx-file-drop>
    <div class="upload-table">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
        </tr>
        </thead>
        <tbody class="upload-name-style">
        <tr *ngFor="let item of files; let i=index">
          <td><strong>{{ item.relativePath }}</strong></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row5">
    <mat-checkbox class="example-margin">Send to email</mat-checkbox>
  </div>
  <div class="row6-box">
    <button mat-raised-button class="row6-item" color="accent">Generate!</button>
  </div>
</form>

